.app-container {
  background-color: #f5f5f5;
  padding: 2rem;
}

.login-form {
  margin: auto;
  max-width: 300px;
}

.sale-order-table {
  width: 100%;
}

.table-header th {
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.sale-order-form {
  margin: auto;
  max-width: 500px;
}
